// colors

$white: #fff;
$black: #000;

// gray

$gray900: #171923;
$gray800: #1a202c;
$gray700: #2d3748;
$gray600: #4a5568;
$gray500: #718096;
$gray400: #a0aec0;
$gray300: #cbd5e0;
$gray200: #e2e8f0;

// blue

$blue600: #2b6cb0;
$blue500: #3182ce;
$blue400: #4299e1;
$blue300: #63b3ed;
$blue200: #90cdf4;

//cyan

$cyan400: #0bc5ea;
$cyan300: #76e4f7;
$cyan200: #9decf9;

//purple

$purple600: #6b46c1;
$purple500: #805ad5;
$purple400: #9f7aea;
$purple300: #b794f4;
$purple200: #d6bcfa;

// green

$green: #92e3a9;

// fonts

$fontFira: "Fira Mono", monospace;
$fontPoppins: "Poppins", sans-serif;
