@import "../../styles/imports.scss";

.containerHeader {
  display: flex;
  justify-content: space-between;

  padding: 20px 80px;

  border: 1px solid $gray300;
}

.containerHeaderLogo {
  display: flex;
  align-items: center;

  strong {
    font-size: 18px;

    color: $green;
  }
}

.containerHeaderNav {
  display: flex;
  align-items: center;
  ul {
    display: flex;

    gap: 20px;

    li {
      a {
        padding: 10px;

        svg {
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
